:root{
    --Soft_blue:hsl(215, 51%, 70%);
    --Cyan:hsl(178, 100%, 50%);
    --main_BG: hsl(217, 54%, 11%);
    --card_BG: hsl(216, 50%, 16%);
    --line: hsl(215, 32%, 27%);
    --White:hsl(0, 0%, 100%);
    --transition:0.3s;
}
body{
    font-family: 'Outfit', sans-serif;
    background-color: var(--main_BG);
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}
a{
    text-decoration: none;
    font-weight: 600;
    color: var(--White);
    transition: var(--transition);
}
a:hover{
    color: var(--Cyan);
}
p{
    font-size: 18px;
}
/* Custom Style */
.card{
    background-color: var(--card_BG);
    padding: 1.5rem;
    border-radius: 15px;
    width: 330px;
}
.card__img{
    border-radius: 15px;
    overflow: hidden;
    margin-bottom: 1rem;
    position: relative;
    width: 100%;
    height: 330px;
    transition: var(--transition);
    cursor: pointer;
}
.card__img img{
    width: 100%;
}
.card__body a{
    font-size: 1.4rem;
}
.card__body p{
    color: var(--Soft_blue);
    opacity: .7;
    font-size: 1.2rem;
    margin-bottom: 1.5rem;
}
.body__state {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 1.5rem;
    margin-bottom: 1rem;
    border-bottom: 1px solid #71839d33;
}
.body__state span{
    color: var(--Soft_blue);
    display: flex;
    align-items: center;
}
.body__state span:first-child{
    color: var(--Cyan);
}
.body__state span img{
    margin-right: .4rem;
}
.card__avatar{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 1rem;
}
.card__avatar span{
    color: var(--Soft_blue);
    font-weight: 300;
}
.card__avatar span a{
    font-size: 1rem;
    font-weight: 300;
}
.avatar__img{
    width: 40px;
    height: 40px;
}
.avatar__img img{
    border-radius: 50%;
    border: 1px solid var(--White);
    width: 100%;
    box-sizing: border-box;
}
.overlay{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 255, 255,.5);
    transition: var(--transition);
    opacity: 0;
}
.overlay img{
    width: 55px;
}
.card__img:hover .overlay{
    opacity: 1;
}
@media (width < 400px){
    .card{
        width: 100%;
    }
}